{% extends "base.html" %}
{% block content %}
    <h1>It's Cook list {{ Cook }}</h1>
    <ul>
        {% for cook in cook_list %}
            <li>{{ cook.username }} - {{ cook.first_name }} {{ cook.last_name }}</li>
            <a href="{% url 'kitchen:cook_edit' cook.pk %}">Edit</a>
            <a href="{% url 'kitchen:cook_delete' cook.pk %}">Delete</a>
        {% empty %}
            <li>No cooks available.</li>
        {% endfor %}
        <li><a href="{% url 'kitchen:cook_create'%}">Add cook</a></li>
    </ul>
{% endblock %}